/* Avoid overflow on text inside card */
mat-card-content {
   margin-left: 10px;
   overflow-wrap: break-word;
   word-wrap: break-word;
   hyphens: auto;
}

mat-card {
  min-height: 80%;
  overflow: hidden;
}

.reviews-container {
  background-color: #ededed;
}

/* Create grid */
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.grid-item {
  margin: 12px;
  flex: 1;
  align-self: stretch;
  flex-grow: 2;
  flex-shrink: 3;
  flex-basis: auto;
  max-width: 40%;
  min-width: 40%;
}