<div class="reviews-container">
  <div class="grid-container">
    <div class="grid-item" *ngFor="let review of reviews">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{review.author}}</mat-card-title>
          <mat-card-subtitle>{{review.origin}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p *ngFor="let line of review.GetFormatedText()">
            {{line}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
