<mat-tab-group>
   <mat-tab>
      <ng-template mat-tab-label>
         Great
         <img src="/assets/images/great.png" class="tab-icon" hspace="10">
      </ng-template>
      <reviews></reviews>
   </mat-tab>
   <mat-tab label="Good">
      <ng-template mat-tab-label>
         Good
         <img src="/assets/images/good.png" class="tab-icon" hspace="10">
      </ng-template>
      <reviews></reviews>
   </mat-tab>
   <mat-tab label="Nice">
      <ng-template mat-tab-label>
         Nice
         <img src="/assets/images/ok.png" class="tab-icon" hspace="10">
      </ng-template>
      <reviews></reviews>
   </mat-tab>
   <mat-tab label="Bad">
      <ng-template mat-tab-label>
         Bad
         <img src="/assets/images/bad.png" class="tab-icon" hspace="10">
      </ng-template>
      <reviews></reviews>
   </mat-tab>
   <mat-tab label="Crap">
      <ng-template mat-tab-label>
         Crap
         <img src="/assets/images/crap.png" class="tab-icon" hspace="10">
      </ng-template>
      <reviews></reviews>
   </mat-tab>
</mat-tab-group>