<div class="grid-container" *ngIf="reviews.length > 0">
  <div class="grid-item" *ngFor="let review of reviews">
    <mat-card class="card">
      <mat-card-header>
        <img mat-card-avatar src="{{review.Avatar}}">
        <mat-card-title>{{review.Author}}</mat-card-title>
        <mat-card-subtitle style="text-transform: capitalize;">{{review.Origin}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content #content
          [ngClass]="review.Expanded ? 'expanded' : 'collapsed'">
          <pre>{{review.Text}}</pre>
      </mat-card-content>
      <div class="expand-button" *ngIf="Overflow(content, review)">
        <button mat-icon-button (click)="review.Expanded = !review.Expanded">
          <mat-icon aria-label="Toggle">{{review.Expanded ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

<div class="empty-container" *ngIf="reviews.length == 0">
  <h2>No one thinks this is {{kind}}</h2>
</div>