<div class="grid-container" *ngIf="reviews.length > 0">
  <div class="grid-item" *ngFor="let review of reviews">
    <mat-card class="card">
      <mat-card-header>
        <img mat-card-avatar src="{{review.Avatar}}">
        <mat-card-title>{{review.Author}}</mat-card-title>
        <mat-card-subtitle style="text-transform: capitalize;">
          <a [href]="review.productURL">{{review.origin}}</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content #content
          [ngClass]="review.expanded ? 'expanded' : 'collapsed'">
          <pre>{{review.Text}}</pre>
      </mat-card-content>
      <mat-chip-list>
        <span *ngFor="let tag of review.Tags">
          <mat-chip style="text-transform: capitalize;" 
            [color]="reviewsService.GetCategoryForTag(tag)" 
            selected="false">
            {{tag.Name}}
          </mat-chip>
        </span>
      </mat-chip-list>
      <div class="expand-button" *ngIf="Overflow(content, review)">
        <button mat-icon-button (click)="review.expanded = !review.expanded">
          <mat-icon aria-label="Toggle">{{review.expanded ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

<div class="empty-container" *ngIf="reviews.length == 0">
  <h2>No one thinks this is {{kind}}</h2>
</div>