<div class="tags-container">
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            Tags
         </mat-panel-title>
         <mat-panel-description>
            Click to toggle
         </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button color="about" (click)="OpenTagsDialog()">What is it</button>
      <mat-chip-list>
         <mat-chip 
            *ngFor="let tag of ArrayFromTags()"
            [color]="reviewsService.GetCategoryFromRating(tag.Score*5)"
            selected="true">
               {{tag.Value}}
         </mat-chip>
      </mat-chip-list>
   </mat-expansion-panel>
</div>
<mat-tab-group>
   <mat-tab>
      <ng-template mat-tab-label>
         Great
         <img src="/assets/images/emoji/great.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.great"></cards>
   </mat-tab>
   <mat-tab [disabled]="!reviewsService.current_item">
      <ng-template mat-tab-label>
         Good
         <img src="/assets/images/emoji/good.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.good"></cards>
   </mat-tab>
   <mat-tab [disabled]="!reviewsService.current_item">
      <ng-template mat-tab-label>
         Patchy
         <img src="/assets/images/emoji/patchy.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.patchy"></cards>
   </mat-tab>
   <mat-tab [disabled]="!reviewsService.current_item">
      <ng-template mat-tab-label>
         Bad
         <img src="/assets/images/emoji/bad.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.bad"></cards>
   </mat-tab>
   <mat-tab [disabled]="!reviewsService.current_item">
      <ng-template mat-tab-label>
         Crap
         <img src="/assets/images/emoji/crap.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.crap"></cards>
   </mat-tab>
</mat-tab-group>