<div class="tags-container">
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            Tags
         </mat-panel-title>
         <mat-panel-description>
            Click to toggle
         </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button color="about" (click)="OpenTagsDialog()">What is it</button>
      <mat-chip-list>
         <mat-chip
            *ngFor="let tag of ArrayFromTags()"
            style="text-transform: capitalize;"
            [color]="reviewsService.GetCategoryForTag(tag)"
            (click)="reviewsService.current_tag = tag"
            selected="true">
               {{tag.Name}}
         </mat-chip>
      </mat-chip-list>
      <span *ngIf="reviewsService.current_tag != undefined">
            <mat-divider></mat-divider>
            <mat-chip
                  style="text-transform: capitalize;"
                  selected="true"
                  [color]="reviewsService.GetCategoryForTag(reviewsService.current_tag)"
                  [removable]="true" 
                  (remove)="this.reviewsService.current_tag = undefined">
                        {{reviewsService.current_tag.Name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
      </span>
   </mat-expansion-panel>
</div>
<mat-tab-group>
   <mat-tab>
      <ng-template mat-tab-label>
         Great ({{reviewsService.GetReviewsForCategory(cardKind.great).length}})
         <img src="/assets/images/emoji/great.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.great" [tag]="reviewsService.current_tag"></cards>
   </mat-tab>
   <mat-tab>
      <ng-template mat-tab-label>
         Good ({{reviewsService.GetReviewsForCategory(cardKind.good).length}})
         <img src="/assets/images/emoji/good.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.good" [tag]="reviewsService.current_tag"></cards>
   </mat-tab>
   <mat-tab>
      <ng-template mat-tab-label>
         Patchy ({{reviewsService.GetReviewsForCategory(cardKind.patchy).length}})
         <img src="/assets/images/emoji/patchy.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.patchy" [tag]="reviewsService.current_tag"></cards>
   </mat-tab>
   <mat-tab>
      <ng-template mat-tab-label>
         Bad ({{reviewsService.GetReviewsForCategory(cardKind.bad).length}})
         <img src="/assets/images/emoji/bad.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.bad" [tag]="reviewsService.current_tag"></cards>
   </mat-tab>
   <mat-tab>
      <ng-template mat-tab-label>
         Crap ({{reviewsService.GetReviewsForCategory(cardKind.crap).length}})
         <img src="/assets/images/emoji/crap.png" class="tab-icon" hspace="10">
      </ng-template>
      <cards [kind]="cardKind.crap" [tag]="reviewsService.current_tag"></cards>
   </mat-tab>
</mat-tab-group>