/* Avoid overflow on text inside card */
mat-card-content {
  margin-left: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 1em;
  overflow-y: hidden;
  max-height: 6em;
  padding-bottom: 0px;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-wrap
}

mat-card {
  overflow: hidden;
}

.expand-button {
  text-align: center;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.reviews-container {
  background-color: #ededed;
}

/* Create grid */
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding-bottom: 2em;
}

.grid-item {
  flex: 1;
  align-self: center;
  flex-grow: 2;
  flex-shrink: 3;
  flex-basis: auto;
  max-width: 40%;
  min-width: 40%;
  padding: 12px 12px 12px 12px;
}

.empty-container {
  text-align: center;
  padding-top: 2.5em;
  opacity: 0.4;
}