mat-card-content {
  margin-left: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 1em;
  overflow-y: hidden;
  padding-bottom: 0px;
}

/* TODO: Add working animated transition */
mat-card-content.expanded {
  -moz-transition: all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  max-height: fit-content;
}

mat-card-content.collapsed {
  max-height: 8em;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-wrap
}

mat-card {
  overflow: hidden;
}

.expand-button {
  text-align: center;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.reviews-container {
  background-color: #ededed;
}

/* Create grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2em;
  grid-row-gap: 3em;

  padding-bottom: 2em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 2em;
}

.grid-item {
  align-self: center;
}

/* TODO: Add HDPI support */
@media only screen and (min-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }  
}

@media only screen and (min-width: 1920px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }  
}

.empty-container {
  text-align: center;
  padding-top: 2.5em;
  opacity: 0.4;
}