/* Align tabs to center */
::ng-deep .mat-tab-labels {
    justify-content: center; /* align items in Main Axis */
}

.mat-tab-label {
   width: 1%;
   font-size: 1em;
   padding: 0 3em;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label:focus {
   background-color: transparent;
}

/* Card background color */
::ng-deep .mat-tab-body-wrapper {
   background-color: #ededed;
}

.tab-icon {
   width: 1.5em;
}

.tags-container {
    padding-bottom: 0.5em;
}

.mat-expansion-panel {
    background-color: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-expansion-panel-header-description {
    flex-grow: inherit;
}

.mat-expansion-panel:not(.mat-expanded)  
.mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background-color: transparent;
}

.tags-instructions {
    margin-bottom: 0.5em;
}

.mat-chip {
    margin: 0.5em 0.5em 0.5em 0.5em !important; 
}

.mat-great {
    background-color: #009688;
    color: white;
}

.mat-good {
    background-color: #2196F3;
    color: white;
}

.mat-patchy {
    background-color: #FFC107;
    color: white;
}

.mat-bad {
    background-color: #795548;
    color: white;
}

.mat-crap {
    background-color: #F44336;
    color: white;
}

.mat-about {
    color: #673AB7;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-divider {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}