/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-deep-orange, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    background-color: #ededed;
    font-family: $mat-font-family;
    font-weight: normal;
    margin: 0px;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.search-panel {
    // position: fixed;
    background-color: #fafafa;
    text-align: center;
    min-height: 00px;
    width: 100%;
}

input[type=text] {
    margin-top: 2%;
    width: 35%;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
    color: #616161;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 9px 10px 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

input[type=text]:focus {
    outline-style: none;
    outline-color: transparent;
    color: #212121;
}

.result-panel {
    background-color: #fafafa;
    min-height: 300px;
    width: 100%;
}

.reviews-panel {
    // position: fixed;
    background-color: #fafafa;
    width: 100%;
}
